:root{
    --color-main:#121212;
    --text-color:#2e2e2e;
    --backgrounde-color:#1a1a2e;
    --accent:#eeeeee;
    --color-two-main:#696969;
    --grey:rgba(255, 255, 255, 0.24);
}
html,#app{
  width:100%;
  height:100%;
}
body{
  width:100%;
  height:100%;
  margin:0;
}